/* 
https://developer.mozilla.org/en/docs/Web/CSS/box-shadow box-shadow: [inset?] [top] [left] [blur] [size] [color];

 Tips:
 - We're setting all the blurs to 0 since we want a solid fill.
 - Add the inset keyword so the box-shadow is on the inside of the element
 - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify 
 ([top] and [left] accept negative values to become [bottom] and [right]) 
 - Multiple shadows can be stacked 
 - If you're animating multiple shadows, be sure to keep the same number of shadows on hover/focus as non-hover/focus 
 (even if you have to create a transparent shadow) so the animation is smooth. Otherwise, you'll get something choppy. 
 */


 
/* 
----------------------------------------
Fill Button 
----------------------------------------
*/
.fill:hover, .fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}
.fill {
    --color: #a972cb;
    --hover: #cb72aa;
}
/* 
----------------------------------------
Pulse Button 
----------------------------------------
*/
.pulse:hover, .pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
   }
}
.pulse {
    --color: #ef6eae;
    --hover: #ef6e95;
}
/* 
----------------------------------------
Close Button 
----------------------------------------
*/
.close:hover, .close:focus {
    box-shadow: inset -10em 0 0 0 var(--hover), inset 10em 0 0 0 var(--hover);
}
.close {
    --color: #ff7f82;
    --hover: #e97b4f;
}
/* 
----------------------------------------
Raise Button 
----------------------------------------
*/
.raise:hover, .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
.raise {
    --color: #ffa260;
    --hover: #f78c13;
}
/* 
----------------------------------------
Up Button 
----------------------------------------
*/
.up:hover, .up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
}
.up {
    --color: #e4c84b;
    --hover: #e4d858;
}
/* 
----------------------------------------
Slide Button 
----------------------------------------
*/
.slide:hover, .slide:focus {
    box-shadow: inset 7.5em 0 0 0 var(--hover);
}
.slide {
    --color: #8fc866;
    --hover: #66c887;
}
/* 
----------------------------------------
Offset Button 
----------------------------------------
*/
.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset {
    --color: #19bc8b;
    --hover: #19bc57;
}
/*
----------------------------------------
Ashei Button 
----------------------------------------
*/
.ashei:hover, .ashei:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}
.ashei {
    --color: #7daff2;
    --hover: #8299f5;
}
/* 
----------------------------------------
Regular Button Characteristics
----------------------------------------
*/
button {
    color: var(--color);
    transition: 0.25s;

    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}
button:hover, button:focus {
    border-color: var(--hover);
    color: rgb(255, 255, 255);
}

input {
    color: var(--color);
    transition: 0.25s;

    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}
input:hover, button:focus {
    border-color: var(--hover);
    color: rgb(255, 255, 255);
}

