body {
    background-image: url("../img/bg.png");
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden;
  }